@font-face {
    font-family: "Flaticon";
    src: url("@{icon-font-path}/flaticon.eot");
    src: url("@{icon-font-path}/flaticon.eot?#iefix") format("embedded-opentype"),
    url("@{icon-font-path}/flaticon.svg") format("svg"),
    url("@{icon-font-path}/flaticon.woff") format("woff"),
    url("@{icon-font-path}/flaticon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;

}
.flaticon-add199:before {
  content: "\e000";
}
.flaticon-apple55:before {
  content: "\e001";
}
.flaticon-ascendant6:before {
  content: "\e002";
}
.flaticon-atoms2:before {
  content: "\e003";
}
.flaticon-bird81:before {
  content: "\e004";
}
.flaticon-blog1:before {
  content: "\e005";
}
.flaticon-blog4:before {
  content: "\e006";
}
.flaticon-book283:before {
  content: "\e007";
}
.flaticon-books54:before {
  content: "\e008";
}
.flaticon-bread14:before {
  content: "\e009";
}
.flaticon-businessman272:before {
  content: "\e00a";
}
.flaticon-calculator69:before {
  content: "\e00b";
}
.flaticon-calendar146:before {
  content: "\e00c";
}
.flaticon-can:before {
  content: "\e00d";
}
.flaticon-chicken2:before {
  content: "\e00e";
}
.flaticon-chicken3:before {
  content: "\e00f";
}
.flaticon-cook1:before {
  content: "\e010";
}
.flaticon-cook4:before {
  content: "\e011";
}
.flaticon-cow12:before {
  content: "\e012";
}
.flaticon-croissant3:before {
  content: "\e013";
}
.flaticon-cutlery22:before {
  content: "\e014";
}
.flaticon-drink24:before {
  content: "\e015";
}
.flaticon-drink64:before {
  content: "\e016";
}
.flaticon-egg16:before {
  content: "\e017";
}
.flaticon-factory6:before {
  content: "\e018";
}
.flaticon-farm6:before {
  content: "\e019";
}
.flaticon-fast-food:before {
  content: "\e01a";
}
.flaticon-fastfood6:before {
  content: "\e01b";
}
.flaticon-fish2:before {
  content: "\e01c";
}
.flaticon-five8:before {
  content: "\e01d";
}
.flaticon-folder265:before {
  content: "\e01e";
}
.flaticon-fruit69:before {
  content: "\e01f";
}
.flaticon-fungus3:before {
  content: "\e020";
}
.flaticon-girl39:before {
  content: "\e021";
}
.flaticon-healthy-food5:before {
  content: "\e022";
}
.flaticon-healthy8:before {
  content: "\e023";
}
.flaticon-hot5:before {
  content: "\e024";
}
.flaticon-imbalanced:before {
  content: "\e025";
}
.flaticon-jar20:before {
  content: "\e026";
}
.flaticon-juice4:before {
  content: "\e027";
}
.flaticon-kitchenpack15:before {
  content: "\e028";
}
.flaticon-list71:before {
  content: "\e029";
}
.flaticon-locked59:before {
  content: "\e02a";
}
.flaticon-meter7:before {
  content: "\e02b";
}
.flaticon-nachos:before {
  content: "\e02c";
}
.flaticon-objective:before {
  content: "\e02d";
}
.flaticon-olives:before {
  content: "\e02e";
}
.flaticon-photos12:before {
  content: "\e02f";
}
.flaticon-prize3:before {
  content: "\e030";
}
.flaticon-pulse1:before {
  content: "\e031";
}
.flaticon-puzzle2:before {
  content: "\e032";
}
.flaticon-restaurant23:before {
  content: "\e033";
}
.flaticon-running31:before {
  content: "\e034";
}
.flaticon-salad:before {
  content: "\e035";
}
.flaticon-salt:before {
  content: "\e036";
}
.flaticon-sauce1:before {
  content: "\e037";
}
.flaticon-scale16:before {
  content: "\e038";
}
.flaticon-scale17:before {
  content: "\e039";
}
.flaticon-seed5:before {
  content: "\e03a";
}
.flaticon-settings48:before {
  content: "\e03b";
}
.flaticon-smile8:before {
  content: "\e03c";
}
.flaticon-spaghetti1:before {
  content: "\e03d";
}
.flaticon-sprig2:before {
  content: "\e03e";
}
.flaticon-standing92:before {
  content: "\e03f";
}
.flaticon-stomach:before {
  content: "\e040";
}
.flaticon-sushi15:before {
  content: "\e041";
}
.flaticon-sweet9:before {
  content: "\e042";
}
.flaticon-table19:before {
  content: "\e043";
}
.flaticon-text116:before {
  content: "\e044";
}
.flaticon-uparrows:before {
  content: "\e045";
}
.flaticon-users81:before {
  content: "\e046";
}
.flaticon-videoplayer5:before {
  content: "\e047";
}
.flaticon-web42:before {
  content: "\e048";
}
.flaticon-weights5:before {
  content: "\e049";
}
.flaticon-wheat5:before {
  content: "\e04a";
}
